<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE configuration  
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.study.spring.vo.UserVO" alias="UserVO" />
		<typeAlias type="com.study.spring.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="com.study.spring.vo.ReplyVO" alias="ReplyVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/loginMapper.xml" />
		<mapper resource="mapper/searchMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
	</mappers>
</configuration>