<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 	<bean id="boardDao" -->
<!-- 		class="kr.co.bit.lecture.board.dao.ibatis.BoardDaoiBATIS"></bean> -->
<!-- 	<bean id="boardService" -->
<!-- 		class="kr.co.bit.lecture.board.service.spring.BoardServiceSpring"> -->
<!-- 		<property name="boardDao" ref="boardDao" /> -->
<!-- 	</bean> -->

<!-- 	<bean name="/board/index" -->
<!-- 		class="kr.co.bit.lecture.board.action.IndexAction"> -->
<!-- 		<property name="boardService" ref="boardService" /> -->
<!-- 	</bean> -->

</beans>
